#product {
    background-color: white;
    -fx-border-color: #0d0c22;
    -fx-border-width: 0 0 0.1 0;
}

#product:hover {
    -fx-cursor: hand;
}

#supportRushDelivery {
    -fx-text-fill: white;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 0px;
    -fx-background-color: #4681f4;
    -fx-pref-width: 80px;
    -fx-padding: 5px 10px;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

#checkBoxButton {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0;
}